* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  background-color: black;
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  position: relative;
}

section {
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

#canvas-elem::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(/background-l.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;
}

#section-1 {
  --gap: 3rem;
  position: relative;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 3rem;

    .nav-elem:nth-child(2) {
      i {
        color: red;
        padding: 1rem;
      }
    }

    svg {
      max-width: 7rem;
      width: 100%;
      height: 100%;
    }

  }

  .middle {
    display: flex;
    gap: var(--gap);

    .left,
    .right {
      width: 50%;
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-block: 8rem;

      h1 {
        font-size: 5rem;
        line-height: 0.8;
        text-align: right;
      }
    }
  }

  .bottom {
    display: flex;
    gap: var(--gap);

    .left,
    .right {
      width: 50%;
    }

    .right {
      p {
        font-weight: 200;
        line-height: 1.2;
      }
    }
  }

  .first-line {
    width: 40rem;
    background-color: rgba(255, 0, 0, 0.552);
    height: 1px;
    position: absolute;
    transform: rotate(45deg) translate(-10rem, -5rem);
  }

  .second-line {
    width: 10rem;
    background-color: rgba(255, 0, 0, 0.552);
    height: 1px;
    position: absolute;
    transform: rotate(-45deg);
    top: 35%;
    right: 17%;
  }
}

#section-2 {
  .titles {
    display: flex;
    flex-direction: column;
    padding-inline: 5rem;
    margin-block: 10rem;

    .title {
      display: flex;
      gap: 5rem;
      opacity: 0.5;
      padding-block: 2rem;
      transition: all 0.3s linear;
      cursor: pointer;

      h1 {
        font-size: 6rem;
        font-weight: 100;
        line-height: 1;
      }

      small {
        width: 7rem;
        margin-top: 1rem;
        font-size: 0.5rem;
        font-size: 0.8rem;
      }
    }
  }

  .title:hover {
    opacity: 1;
  }
}

main:has(#section-2 .title:hover) #canvas-elem::after {
  opacity: 0;
}

.images {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
  }
}

main:has(#section-2 .title[img-id="tommorowland"]:hover) .images #tommorowland {
  opacity: 1;
  background-color: rgb(4, 8, 47);
}

main:has(#section-2 .title[img-id="navypier"]:hover) .images #navypier {
  opacity: 1;
}

main:has(#section-2 .title[img-id="msichicago"]:hover) .images #msichicago {
  opacity: 1;
}

main:has(#section-2 .title[img-id="louisephone"]:hover) .images #louisephone {
  opacity: 1;
}

main:has(#section-2 .title[img-id="kiiak"]:hover) .images #kiiak {
  opacity: 1;
  background-color: rgba(17, 17, 168, 0.64);
}

main:has(#section-2 .title[img-id="kennedy"]:hover) .images #kennedy {
  opacity: 1;
  background-color: rgba(15, 79, 57, 0.497);
}

main:has(#section-2 .title[img-id="royalopera"]:hover) .images #royalopera {
  opacity: 1;
  background-color: rgb(108, 5, 5);
}

#section-3 {
  min-height: initial;
  padding-block: 10rem;
  padding-inline: 10rem;
  position: relative;
  z-index: 0;
  isolation: isolate;

  .top,
  .bottom {
    display: flex;
    width: 100%;
    gap: 10rem;
  }

  .left,
  .right {
    width: 50%;
  }

  .top .left {
    padding-right: 5rem;

    h3 {
      font-size: 3rem;
      font-size: 600;
    }
  }
}

#section-4 {
  min-height: 50vh;

  .bottom {
    display: flex;
    width: 100%;

    .left,
    .right {
      width: 50%;
    }

    .right {
      display: flex;

      p {
        opacity: 0.5;
        font-weight: 200;
      }
    }

    .left {
      position: relative;

      .third-line {
        width: 20rem;
        background-color: rgba(255, 0, 0, 0.552);
        height: 1px;
        position: absolute;
        transform: rotate(45deg) translate(10rem, -5rem);
      }
    }
  }
}